* {
    font-family: "Montaga", serif;
    margin: 0;
    padding: 0;
}

.hh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.sec-ll {
    width: 25%;
}

li {
    white-space: no-wrap;
}

.ll {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 15%;
}

.section1 {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    background-color: #F0CCBB;
}

.section1 img {
    padding-top: 64px;
    padding-bottom: 72px;
}

h1 {
    font-size: 80px;
    line-height: 98px;
    font-weight: 500;
    margin-bottom: 24px;
}

.i-do{
    margin-top: 40px;
    background-color: #C6754D;
    padding: 14px 24px;
    border-radius: 16px;
    color: white;
    font-size: 18px;
    border: none;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 88px;
    padding-bottom: 88px;
}

.story {
    flex-basis: 35%;
}

.story h2 {
    font-size: 4.5rem;
    line-height: 89px;
    font-weight: 400;
}

.d-story {
    line-height: 33.6px;
    font-size: 1.5rem;
    flex-basis: 65%;
}

.ring img {
    width: 100%;
    height: 100%;
    margin-bottom: 88px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
}

footer a {
    color: black;
}
.hamburger {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.our-story {
    color: #C6754D;
}

.duo {
    width: 50%;
    margin-left: 15%;
    margin-right: 10%;
}


.duo2 {
    position: absolute;
    bottom: -15rem;
    right: 8rem;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 88px;
}

.section-2 div h2 {
    margin-bottom: 5%;
}

.when {
    margin-right: 6%;
}

.love-meet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
}

.meet {
    background-color: #C6754D;
    padding-bottom: 3% ;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 15%;
    color: azure;
    position: absolute;
    right: 7%;
}

.meet h2 {
    margin-bottom: 7%;
}

.flower {
    position: absolute;
    right: 0%;
    bottom: -110%;
}

@media screen and (max-width: 733px) {
    .sec-ll {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hh {
        padding-top: 1.5rem;
        padding-bottom: 10px;
        justify-content: space-between;
    }

    .section1 {
        flex-direction: column;

    }

    .first-part {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
        font-size: 2.5rem;
    }

    .i-do {
        width: 100%;
    }

    .section2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .d-story {
        margin-top: 24px;
    }

    footer p {
        margin-bottom: 40px;
    }

}